<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>VMO-Shortenlink</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"> <img class="rounded-circle" style="max-height: 40px;" src="/img/logo.jpg"> VMO-Shortenlink</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (!logged){%>
          <li class="nav-item">
            <a class="nav-link text-info" href="/signup"><button class="btn btn-block btn-info rounded-pill">Signup</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="/login"><button class="btn btn-block btn-info rounded-pill">Signin</button></a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link text-info" href="/auth/manager"><button class="btn btn-block btn-info rounded-pill">Manager</button></a>
            </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="/logout"><button class="btn btn-block btn-info rounded-pill">Logout</button></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" id="demo">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-3">Build a shortenLink page for your business and everyone</h2>
          <h4 class="mb-5">you have to login to set password, expire, custom address</h4>
          <!-- <h3 class="mb-2">you have to login to set password, expire, custom address</h3> -->
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- <div class="row" id="show-error">
            <div class="alert alert-danger">
              <strong>Opps, </strong><span>link invalid</span> <br>
            </div>
          </div> -->
          <div class="row" id="shorten-link">
            <!-- <p class="mx-auto mb-2"><i id="btn-copy" style="cursor:pointer;" class="far fa-copy fa-lg"></i> <span id="content-copy">content ok</span> </p> -->
            <!-- <p class="mx-auto mb-2"><i id="btn-copy" style="cursor:pointer;" class="far fa-copy fa-lg" data-toggle="tooltip" data-placement="top" title="click to copy"></i> 
              <span id="content-copy" class="bg-light text-dark">http://localhost:4000/' + shorten + '</span> </p> -->
          </div>
          <div role="form">
            <div class="row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <div class="form-group">
                  <input type="text" id="long-link" class="form-control form-control-lg"
                    placeholder="Enter your link...">
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <% if (logged){%>
                  <button id="get-short-link-user" class="btn btn-block btn-lg btn-primary rounded-pill">shorter</button>
                  <% } else { %>
                  <button id="get-short-link-guest" class="btn btn-block btn-lg btn-primary rounded-pill">shorter</button>
                  <% } %>
                </div>
              </div>
            </div>
            <hr class="hr-or">
            <!-- <div class="text-left">
              <span class="bg-warning text-dark text-uppercase" style="cursor:pointer;" id="option-advanced">option advanced</span>
            </div> -->
            <div class="custom-control custom-checkbox mb-3 text-left">
              <input type="checkbox" class="custom-control-input" id="option-advanced" name="example1">
              <label class="custom-control-label text-warning" for="option-advanced">Option Advanced</label>
            </div>

            <div id="option-div" class="text-left">
               
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Managing links</h3>
            <p class="lead mb-0">Create, protect and delete your links and monitor them with detailed statistics.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your link, or customize the link!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/home.js"></script>
</body>

</html>